<div>
    <h1>Cadastro</h1>
    <form>
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" required><br><br>
      <label for="descricão">Descrição:</label>
      <input type="descricao" id="descricao" name="descricao" required><br><br>
      <label for="valorAluguel">Valor do Aluguel:</label>
      <input type="valorAluguel" id="valorAluguel" name="valorAluguel" required><br><br>
      
            
      <button type="submit">Cadastrar</button>
    </form>
  </div>
  
